@import "tailwindcss/base";



@import "tailwindcss/components";

.placeholder-svg {
    display: block;
    fill: rgba(51,50,50,0.35);
    background-color: rgba(51,50,50,0.1);
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid rgba(51,50,50,0.2);
}

[x-cloak] { display: none; }

.max-height-search {
    max-height: calc(100vh - 6.5rem);

    @screen md {
        max-height: calc(100vh - 4rem);
    }
}

@import "tailwindcss/utilities";
