<div class="container mx-auto px-2 sm:px-4 xl:px-0 mt-4">
  {% for collection in collections %}
  
    {% unless collection.handle == 'frontpage' %}
      <div class="mb-8">
        <a class="text-3xl font-bold mb-2 block" href="{{ collection.url }}">{{ collection.title }}</a>
          
        <div class="grid gap-4 grid-cols-2 md:grid-cols-4">
          {% for product in collection.products limit: limit %}
            {% include 'product-card-grid', hide_add_to_cart: hide_add_to_cart %}
          {% endfor %}
        </div>
      </div>
    {% endunless %}
  {% endfor %}
</div>  

